body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
     max-width: 100ch;
     margin-inline: max(1em, (100% - 100ch) / 2);
     margin-bottom: 1em;
   }
ul {
  display: contents;
}
li {
  display: contents;
}
nav {
  display: flex;
  border-bottom: 1px solid oklch(80% 3% 200); 
  --border-color: oklch(50% 10% 200 / 40%);

}
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

 nav a.current{
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.4em;
 }

 :root {
  --color-accent: oklch(65% 50% 0);
  color-scheme: dark;
}

html {
  accent-color: var(--color-accent);
  color-scheme: light dark;
}

nav a:hover{
    border-bottom-color: var(--border-color);
    /* border-bottom-color: var(--color-accent); Uses the accent color on hover/focus */
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  }

input, textarea, button {
  font: inherit;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

label {
    display: grid;
    grid-template-columns: subgrid; /* Makes the label's grid align with the form's grid */
    grid-column: 1 / -1; /* Span the label across the entire row */
  }

  img {
    max-width: 100%; /* Prevents images from stretching beyond their container's width */
    height: auto; /* Maintains the aspect ratio of the image */
  }

  .color-scheme {
    position: absolute; /* Take the switcher out of the normal document flow */
    top: 1rem; /* Distance from the top edge of the document */
    right: 1rem; /* Distance from the right edge of the document */
    font-size: 80%; /* Make the font a bit smaller */
  }